body{
    background-color: darkred;
}
 header.cabeçalho{
    background-color: black;
    padding: 3%;
 }
 div.logo{ 
 
 }
nav{ 
    background-color: darkgrey;
}
main{
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
   padding: 3%;
}
 section{
    background-color: #4cc9f0;
 }
 footer.rodapé{
    background-color: #590d22;
    padding: 3%;
 }
 h1{
    font-size: 2em;
    color: #590d22;
    background-color: aliceblue;
    line-height: 3;
    text-align: center;
    font-weight: bold;
 }
 h2{
    font-size: 1.5em;
    color: red;
    background-color:antiquewhite;
    line-height: 3;
    text-align: center;
    font-weight: bold;
 }
 p{
    line-height: 1.5em;
    font-size: 1.2em;
 }
   